Repository etalab/transport-site, pull requests merged in 2024-03, with the labels that each got.

#3807 Create Post “prototype-dun-rapport-de-calculateur-national-avec-opentripplanner”
  blog/content/billets/rapport-prototype-dun-calculateur-national-avec-opentripplanner.md
Labels: netlify-cms/draft

#3772 Suivi des ressources IRVE invalides via le backoffice
  .credo.exs
  .gitignore
  apps/shared/lib/req_custom_cache.ex
  apps/shared/lib/wrapper/wrapper_req.ex
  apps/transport/client/stylesheets/components/_backoffice.scss
  apps/transport/lib/db/processing_report.ex
  apps/transport/lib/irve/extractor.ex
  apps/transport/lib/irve/fetcher.ex
  apps/transport/lib/irve/http_pagination.ex
  apps/transport/lib/jobs/analyze_irve_job.ex
  apps/transport/lib/transport_web/live/backoffice/irve_dashboard_live.ex
  apps/transport/lib/transport_web/live/backoffice/irve_dashboard_live.html.heex
  apps/transport/lib/transport_web/router.ex
  apps/transport/lib/transport_web/templates/backoffice/page/index.html.heex
  apps/transport/priv/gettext/backoffice.pot
  apps/transport/priv/gettext/en/LC_MESSAGES/backoffice.po
  apps/transport/priv/gettext/fr/LC_MESSAGES/backoffice.po
  apps/transport/priv/repo/migrations/20240118133546_create_processing_reports.exs
  apps/transport/priv/repo/migrations/20240310152509_use_standard_timestamps_precision.exs
  apps/transport/test/transport/irve/irve_extractor_test.exs
  config/dev.secret.template.exs
  livebook/irve-total.livemd
  scripts/irve/irve.exs
Labels: fonctionnalité, IRVE

#3816 Travaux de qualification des flux IRVE dynamiques
  scripts/irve/dynamic-irve.exs
Labels: IRVE

#3827 Correction dette technique sur les fonctions de type prédicats ("is_xyz?" -> "xyz?")
  apps/datagouvfr/lib/datagouvfr/client/datasets.ex
  apps/shared/lib/schemas.ex
  apps/transport/lib/db/contact.ex
  apps/transport/lib/db/dataset.ex
  apps/transport/lib/db/resource.ex
  apps/transport/lib/db/resource_history.ex
  apps/transport/lib/jobs/consolidate_lez_job.ex
  apps/transport/lib/jobs/conversions/gtfs_generic_converter.ex
  apps/transport/lib/jobs/dataset_quality_score.ex
  apps/transport/lib/jobs/dedupe_history_job.ex
  apps/transport/lib/jobs/periodic_reminder_producers_notification_job.ex
  apps/transport/lib/jobs/resource_history_job.ex
  apps/transport/lib/jobs/resource_history_validation_job.ex
  apps/transport/lib/jobs/resource_validation_job.ex
  apps/transport/lib/transport/gtfs_rt.ex
  apps/transport/lib/transport/import_data.ex
  apps/transport/lib/transport_web/controllers/resource_controller.ex
  apps/transport/lib/transport_web/controllers/validation_controller.ex
  apps/transport/lib/transport_web/live/backoffice/jobs_live.ex
  apps/transport/lib/transport_web/live/on_demand_validation_live.ex
  apps/transport/lib/transport_web/router.ex
  apps/transport/lib/transport_web/session.ex
  apps/transport/lib/transport_web/templates/dataset/_resource.html.heex
  apps/transport/lib/transport_web/templates/dataset/details.html.heex
  apps/transport/lib/transport_web/templates/dataset/index.html.heex
  apps/transport/lib/transport_web/templates/layout/_header.html.heex
  apps/transport/lib/transport_web/templates/resource/_validation_report.html.heex
  apps/transport/lib/transport_web/templates/resource/details.html.heex
  apps/transport/lib/transport_web/templates/resource/gtfs_details.html.heex
  apps/transport/lib/transport_web/views/dataset_view.ex
  apps/transport/lib/transport_web/views/resource_view.ex
  apps/transport/lib/validators/gtfs_transport_validator.ex
  apps/transport/lib/validators/validator_selection.ex
  apps/transport/test/transport/gtfs_rt_test.exs
  apps/transport/test/transport/jobs/consolidate_lez_job_test.exs
  apps/transport/test/transport/jobs/dataset_quality_score_test.exs
  apps/transport/test/transport/jobs/dedupe_history_job_test.exs
  apps/transport/test/transport/jobs/gbfs_multi_validation_job_test.exs
  apps/transport/test/transport/jobs/resource_history_job_test.exs
  apps/transport/test/transport/jobs/resource_history_validation_job_test.exs
  apps/transport/test/transport/validators/gbfs_validator_test.exs
  apps/transport/test/transport_web/controllers/dataset_controller_test.exs
  apps/transport/test/transport_web/controllers/resource_controller_test.exs
  apps/transport/test/transport_web/controllers/session_controller_test.exs
  apps/transport/test/transport_web/session_test.exs
  mix.lock
  scripts/elixir_predicate_upgrade.exs
Labels: dette technique

#3836 Premier script pour "résumer" un gros fichier NeTEx
  apps/shared/lib/wrapper/wrapper_req.ex
  scripts/netex-accessibilite.exs
Labels: NeTEx
