Repository etalab/transport-site, pull requests merged in 2025-08, with the labels that each got.

#4752 Accroissement nombre de PDC - auto-conversion du Latin-1 vers UTF-8
  apps/transport/lib/irve/raw_static_consolidation.ex
  apps/transport/test/transport/irve/irve_raw_static_consolidation_test.exs
Labels: IRVE

#4756 IRVE statique : ajout automatique de certains champs optionnels quand ils sont manquants
  apps/transport/lib/irve/data_frame.ex
  apps/transport/lib/irve/processing.ex
  apps/transport/lib/irve/raw_static_consolidation.ex
Labels: IRVE

#4759 Amélioration traitement IRVE statique
  apps/transport/lib/irve/data_frame.ex
  apps/transport/lib/irve/raw_static_consolidation.ex
  apps/transport/lib/irve/static_probes.ex
  apps/transport/test/transport/irve/irve_static_probes_test.exs
Labels: IRVE

#4757 Déplace l'app unlock dans transport
  apps/transport/lib/transport/application.ex
  apps/transport/lib/transport_web/live/backoffice/proxy_config_live.ex
  apps/transport/lib/unlock/aggregate_processor.ex
  apps/transport/lib/unlock/cached_fetch.ex
  apps/transport/lib/unlock/config.ex
  apps/transport/lib/unlock/controller.ex
  apps/transport/lib/unlock/dynamic_irve_schema.ex
  apps/transport/lib/unlock/endpoint.ex
  apps/transport/lib/unlock/enforce_ttl.ex
  apps/transport/lib/unlock/gunzip_tools.ex
  apps/transport/lib/unlock/http_client.ex
  apps/transport/lib/unlock/meta/schema-irve-dynamique.json
  apps/transport/lib/unlock/router.ex
  apps/transport/lib/unlock/shared.ex
  apps/transport/lib/unlock/siri.ex
  apps/transport/lib/unlock/telemetry.ex
  apps/transport/lib/unlock/views/error_view.ex
  apps/transport/lib/unlock/xml_helper.ex
  apps/transport/mix.exs
  apps/transport/test/support/mocks.ex
  apps/transport/test/support/siri_queries.ex
  apps/transport/test/unlock/config_fetcher_test.exs
  apps/transport/test/unlock/controllers/unlock_controller_test.exs
  apps/transport/test/unlock/dynamic_irve_schema_text.exs
  apps/transport/test/unlock/enforce_ttl_test.exs
  apps/transport/test/unlock/finch_impl_test.exs
  apps/transport/test/unlock/github_config_test.exs
  apps/transport/test/unlock/shared_test.exs
  apps/transport/test/unlock/siri_test.exs
  apps/transport/test/unlock/test_helper.exs
  apps/unlock/lib/application.ex
  apps/unlock/mix.exs
  apps/unlock/test/support/mocks.ex
  config/config.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
Labels: proxy

#4774 Catégorie "Règles de base" du profil starter-kit d'enRoute
  apps/transport/lib/transport_web/views/resource_view.ex
  apps/transport/lib/validators/netex/results_adapters/v0_2_0.ex
  apps/transport/priv/gettext/en/LC_MESSAGES/validations.po
  apps/transport/priv/gettext/fr/LC_MESSAGES/validations.po
  apps/transport/priv/gettext/validations.pot
Labels: NeTEx, validation
